<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/brython.js"></script>
    <script type="text/javascript" src="/static/brython_stdlib.js"></script>
    <script type="text/python" src="/static/build_datalist.py" id="build_datalist" database="{{database}}"></script>
    <script type="text/python" src="/static/verify_datalist_input.py"></script>
</head>
<body onload="brython()">
    <div class="title-bar">
        <div class="title-text">
            <h1 class="title">Pode </h1>
            <h1 class="title">Misturar?</h1>
        </div>
        <img class="img-btn" id="help" src="/static/images/interrogacao.png" alt="Ajuda">
        <img class="img-btn" src="/static/images/menu.png" alt="Menu" id="menu">
    </div>
    <div class="container">
        <!-- <form method="post"> -->
            <div class="container-forms">
                <div class="input-group" id="input-group-1">
                    <input id="product-1" list="input-1" name="input-1" placeholder="Produto 1" class="inputs" required>
                    <datalist id="input-1" class="datalist-root">
                        
                    </datalist>
                </div>
                <div class="input-group">
                    <input id="product-2" list="input-2" name="input-2" placeholder="Produto 2" class="inputs" required>
                    <datalist id="input-2" class="datalist-root">
                        
                    </datalist>
                </div>
            </div>
            <div class="images-container">
                <div class="product-image" id="product-1-image">
                    <!-- <img src="/static/images/produto" alt="Produto 1"> -->
                </div>
                <div class="sum" id="sum">
                    <!-- <h1>+</h1> -->
                </div>
                <div class="product-image" id="product-2-image">
                    <!-- <img src="/static/images/produto" alt="Produto 2"> -->
                </div>
            </div>
            <div class="btn-container">
                <button class="btn" value="Misturar">Misturar</button>
            </div>
        <!-- </form> -->
    </div>
</body>
</html>